@import '../../base.scss';

.services{
    // margin: 3rem 1rem;
    margin-bottom: 1rem;
    padding-bottom: 4rem;

    .main_heading{
        margin-top: 4rem;
    }
    .container-fluid{
        .main_row{
            .individual_skill{
                .card{
                    border: none;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
                    background-color: rgba(0, 0, 0, 0.354);
                    color: #fff;
                    padding: 5px 5px 0px 5px;
                    .header{
                        // background-color: wheat;
                        display: flex;
                        justify-content: space-between;
                        padding: 3px 5px;
                        font-size: 30px;
                    }
                    .content{
                        .name{
                            font-size: 24px;
                            font-weight: bold;
                        }
                        .description{
                            font-size: 16px;
                            letter-spacing: 2px;
                        }
                    }
                    .footer{
                        display: flex;
                        justify-content: space-between;
                        p{
                            padding: 0px;
                        }
                    }

                }
            }
        }
    }   
}